<div>
	<p-messages [(value)]="messages"></p-messages>
	<p-confirmDialog></p-confirmDialog>

	<p-table [value]="unidadesMedida" styleClass="p-datatable-gridlines" [loading]="isLoading"
			 [resizableColumns]="true">
		<ng-template pTemplate="header">
			<tr>
				<th pResizableColumn [pSortableColumn]="'idUnidadeMedida'">
					#
					<p-sortIcon field="idUnidadeMedida"></p-sortIcon>
				</th>
				<th pResizableColumn [pSortableColumn]="'nome'">
					Nome
					<p-sortIcon field="nome"></p-sortIcon>
				</th>
				<th pResizableColumn [pSortableColumn]="'simbolo'">
					Simbolo
					<p-sortIcon field="simbolo"></p-sortIcon>
				</th>
				<th class="col-1"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-unidade>
			<tr>
				<td>{{ unidade.idUnidadeMedida }}</td>
				<td>{{ unidade.nome }}</td>
				<td>{{ unidade.simbolo }}</td>
				<td>
					<div class="flex justify-content-center">
						<p-button [icon]="'fa-solid fa-trash-can'" severity="danger"
								  [pTooltip]="'Excluir'" tooltipPosition="bottom"
								  [rounded]="true" (onClick)="delete(unidade.idUnidadeMedida)">
						</p-button>
					</div>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
